.two-column-container {
  display: flex;
  height: 60rem;
  margin-left: 9.625rem;
  margin-right: 9.625rem;
}

.column {
  flex: 1;
}

.column2 {
  background-color: #fff;
}

.logo {
  width: 26.875rem;
  margin-top: 15rem;
}

.callToAction {
  color: var(--white-900, #fff);
  text-align: center;
  margin-top: 2rem;

  font-family: Poppins;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -1.2px;
}
