<mat-toolbar color="primary" class="header">
  <a [routerLink]="['/']">
    <img src="assets/logo.svg" alt="Sou Doador" class="logo" />
  </a>
  <app-menu [menuItems]="menuItems" class="menu-container"></app-menu>
  <div class="buttons-container">
    <button mat-button [routerLink]="['/entrar']" class="buttonLogin">
      Entrar
    </button>
    <button
      mat-flat-button
      color="accent"
      [routerLink]="['/cadastro']"
      class="buttonRegister"
    >
      Faça parte
    </button>
  </div>
</mat-toolbar>
