.about {
  min-height: 50rem;
  margin-top: 5.625rem;
  margin-left: 9.625rem;
  margin-right: 30rem;
}

.title {
  margin-bottom: 1rem;
}

.subtitle {
  margin-bottom: 2rem;
}

.description {
  text-align: justify;
}
