<app-page-title
  info="Entrar"
  title="Entrar"
  subtitle="Encontre campanhas de doação de sangue que estão acontecendo perto de você!"
></app-page-title>

<app-two-column-layout>
  <div column2>
    <form class="login-form" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field>
        <input matInput placeholder="Email" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Senha" required />
      </mat-form-field>
      <button mat-flat-button color="accent" class="login">Entrar</button>
    </form>
  </div>
</app-two-column-layout>
