.instituion-list {
  background: var(--white-900, #fff);
  padding: 7rem 5.5rem;
}

.instituion {
  display: flex;
  margin-bottom: 8rem;
}

.column {
  flex: 1;
  padding: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.centered-image {
  max-width: 100%;
  width: 27rem;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.data-image {
  margin-right: 1rem;
}

h2 {
  color: var(--gray-900, #2a3342);

  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.72px;
}

h3 {
  color: var(--gray-900, #2a3342);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32.702px;
}
