.homeMessage {
  background: var(--white-900, #fff);
  padding: 7rem 6.5625rem;
}

h1 {
  color: var(--gray-900, #2a3342);

  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.96px;
}

h3 {
  color: var(--gray-500, #556987);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
