<div class="campaign-list">
  <div class="campaign" *ngFor="let campaign of campaigns; let even = even">
    <div
      class="column"
      [ngClass]="{ 'column-left': even, 'column-right': !even }"
    >
      <div class="image-container">
        <img
          [src]="campaign.image"
          [alt]="campaign.name"
          class="centered-image"
        />
      </div>
    </div>
    <div
      class="column"
      [ngClass]="{ 'column-right': even, 'column-left': !even }"
    >
      <h2>{{ campaign.name }}</h2>
      <p>{{ campaign.description }}</p>
      <button mat-flat-button color="accent" class="buttonReadMore">
        Ler mais
      </button>
    </div>
  </div>
</div>
